body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  margin: 0 auto;
  background-color: #374954;
  text-align: center;
  font-size: 24px;
}

button {
  display: inline-block;
  background-color: #6bbe92;
  color: #fff;
  border: 0;
  margin: 0 20px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

a {
  color: lightblue;
}

.container {
  margin: 05% 0 auto;
}

.counter button {
  padding: 0;
  width: 100px;
}

.time {
  font-size: 50px;
}